<p-dialog header="Edit song" [(visible)]="isEditingSong" [modal]="true">
    <app-song-edit [song]="songBeingEdited" (onEdited)="isEditingSong = false"></app-song-edit>
</p-dialog>
<p-panel header="Own songs">
    <p-dataView #dv [value]="songs" [paginator]="true" [rows]="3" filterBy="songName" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="list">
        <ng-template pTemplate="header">
            <div>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by name"
                        (input)="dv.filter($any($event).target.value)">
                </span>
                <br />
                <br />
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortField" placeholder="Sort By Price"
                    (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
            </div>
        </ng-template>
        <ng-template let-song pTemplate="listItem">
            <div class="p-col-12">
                <div class="list-item">
                    <img src="assets/song.jpg" alt="No image :(" />
                    <div class="list-detail">
                        <div class="name">{{song.songName}}</div>
                        <div class="description">{{song.author}}</div>
                        <i class="pi pi-tag category-icon"></i><span
                            class="category">{{genres.get(song.genreId)}}</span>
                    </div>
                    <div class="list-action">
                        <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded"
                            (click)="onEdit(song)"></button>
                        <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="onDelete(song)"></button>
                        <button pButton type="button" icon="pi pi-download" class="p-button-rounded p-button-secondary"
                            [loading]="isDownloading" (click)="onDownload(song)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <!-- <p-orderList [value]="songs" filterBy="songName,author">
        <ng-template let-song pTemplate="item">
            <div class="song-container">
                <img src="assets/song.jpg" style="display:inline-block;margin:2px 0 2px 2px" width="80">
                <div class="song-information-container">
                    <span class="song-name">
                        {{song.songName}}
                    </span>
                    <br />
                    <br />
                    <i class="pi pi-info-circle"></i> Genre: {{genres.get(song.genreId)}}
                    <br />
                    <i class="pi pi-info-circle"></i> Author: {{song.author}}
                </div>
            </div>
        </ng-template>
    </p-orderList> -->
</p-panel>