<p-panel #panel header="Add song">
    <div *ngIf="isActive; else blockedComponent">
    <br />
    <form class="song-form" [formGroup]="songForm" (ngSubmit)="onSubmit()">
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input type="text" formControlName="name"
                    [ngClass]="{'ng-dirty': songForm.controls.name.invalid, 'ng-invalid': songForm.controls.name.invalid }"
                    pInputText>
                <label for="float-input">Name</label>
            </span>
        </div>
        <div class="p-inputgroup">
            <span class="p-float-label">
                <input type="text" formControlName="author"
                    [ngClass]="{'ng-dirty': songForm.controls.author.invalid, 'ng-invalid': songForm.controls.author.invalid }"
                    pInputText>
                <label for="float-input">Author</label>
            </span>
        </div>

        <p-fileUpload name="songFile" accept="audio/mpeg" [maxFileSize]="15_000_000" 
            [showCancelButton]="false" [showUploadButton]="false"></p-fileUpload>
        <br />
        <button pButton [label]="isSubmitting ? 'Submitting...' : 'Submit'" [disabled]="!isFormValid() || isSubmitting" 
        [icon]="isSubmitting ? 'pi pi-spin pi-spinner' : 'pi pi-upload'" iconPos="right"></button>
    </form>
</div>
<ng-template #blockedComponent>
    <app-disabled-functionality></app-disabled-functionality>
</ng-template>
</p-panel>