div.crawler-state-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p-card {
    text-align: center;
}

p-card.crawler-state-card {
    display: block;
    width: 80%;
}

